@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.activity-log {
  opacity: 0.7;
  padding: 10px;
  border-radius: 8px;
  background-color: #F4F7FF;
  margin-bottom: 28px;
}
